* {
    box-sizing: border-box;
    /* max-width: 1440px; */
  }
ul {
    list-style: none; 
}
li {
  text-transform: capitalize;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(243, 216, 180);
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  }

/* .nav {
  max-width: 1440px;
} */

/* центрирование понели nav */
.nav-conteiner {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-around; */
  justify-content: space-between;
  /* justify-content: space-evenly; */
  align-items: center;
  list-style: none;
}
span.nav-item {
  border: 1px solid green;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.me {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.photo-conteiner {
 flex-grow: 1; 
   border: 1px solid green;

}

.name-conteiner {
 flex-grow: 3; 
   border: 1px solid green;

}
.photo {
  /* position: absolute; */
  height: 300px;
  width: 259px;
  border-radius: 300px;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: rgb(249, 217, 175)
}

div.left-conteiner {
 flex-grow: 1; 
}
div.right-container
{
  flex-grow: 3; 
}

div.left-conteiner {
  background-color: antiquewhite;
  border: 1px solid green;
  /* display: flex; */
 
  /* max-width: 440px;
  width: 30%; */
}

.contacts-list {
  list-style: none; 
}
.discord-name {
  text-transform: none;
}
.education-list, .courses-list {
  list-style: none;
}

.p-skils-conteiner {
  border: 1px solid green;
  /* display: flex; */
}
.skills-list {
  /* display: flex;
  justify-content: space-between; */
  /* justify-content: space-evenly; */
  align-items: center;
  list-style: none;
}
/* 
.skill-box {
  /* height: 20;
  width: 20; */
  /* background-color: aqua;
  border: 1px solid green;
} */



span.lang {
  text-transform: uppercase;
}



div.right-container {
  background-color: rgb(193, 174, 137);
  /* display: flex; */
  /* flex-grow: 3;  */
  /* width: 120px; */

}

h2 {
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}

pre {
  background-color: rgb(255, 255, 255);
  width: 200px;
}



footer {
  background-color: rgb(252, 207, 147);

}
.footer-container {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.footer-element {
  margin: 10px;
 /* align-items: flex-end; */
}

/* горизонтальное центрирование:
body {
  margin: auto;
} */

a {
  text-decoration: none;
  color: black;
}